body{
    background-image: url(../img/fond_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    font-family: 'mario', sans-serif;
}

header{
    text-align: center;
    
}

@font-face{
    font-family: "mario";
    src: url("../style/SuperMario256.ttf") format("opentype");
}

.bonus {
     
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
button {
    border: transparent;
    background-color: transparent; 
    box-shadow: transparent;
}
* {
    cursor: url("../img/cursor.cur"), pointer;
}

/* #main {
    position: absolute;
    top: 50%;
    left: 50%;
} */

#main-image{
    margin-top: 10%;
    height: 250px;
    margin-left: 38%;

}