body{
    background-image: url(../img/fond_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    font-family: 'mario', sans-serif;
}

header{
    text-align: center;
    
}

@font-face{
    font-family: "mario";
    src: url("../style/SuperMario256.ttf") format("opentype");
}

.bonus {
     
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
button {
    border: transparent;
    background-color: transparent; 
    box-shadow: transparent;
}
* {
    cursor: url("../img/cursor.cur"), pointer;
}



#main-image{
    margin-top: 10%;
    height: 250px;
    margin-left: 38%;

}
footer {
    text-align: center;
    position: fixed;
    height: 35px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#temps{
    margin-left: 90%;
}


#bowzer{
    position: absolute;
    height: 250px;
    top: 30%;
    right: 10%;
}


