body{
    background-image: url(../img/fond_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    font-family: 'mario', sans-serif;
}

header{
    text-align: center;

}
@font-face{
    font-family: "mario";
    src: url("../style/SuperMario256.ttf") format("opentype");
}